@import "~@blueprintjs/core/lib/scss/variables";
#overview {
    display: flex;
    flex-direction: column;
    .separator {
        transition: 0.3s;
        margin: 2rem 0;
        width: 100%;
        border-bottom: 1px $light-gray1 dashed;
    }
    .section {
        width: 100%;
    }
    .list {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        flex-wrap: wrap;
        .card {
            height: 15rem;
            width: 10.5rem;
            margin: 1rem;
            padding: 0rem;
            overflow: hidden;
            h4 {
                transition: 0.3s;
                padding: 1rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px $light-gray2 solid;
            }
            .textPreview {
                transition: 0.3s;
                padding: 0.5rem;
                color: $dark-gray5;
            }
        }
    }
}

.document {
    height: 100%;
    margin-bottom: 0;
    .documentHeader {
        display: flex;
        align-content: baseline;
        h1 {
            margin-left: 0;
            margin-right: auto;
        }
        button {
            width: 1rem;
            height: 1rem;
            margin-left: auto;
            margin-right: 0;
        }
    }
    textarea {
        overflow: auto;
        margin: 0;
        margin-bottom: 0;
        min-height: 100%;
        min-width: 100%;
        resize: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

.bp3-dark {
    #overview {
        .separator {
            transition: 0.3s;
            border-bottom: 1px $dark-gray5 dashed;
        }
        .list {
            .card {
                h4 {
                    transition: 0.3s;
                    border-bottom: 1px $dark-gray2 solid;
                }
                .textPreview {
                    transition: 0.3s;
                    color: $light-gray1;
                }
            }
        }
    }
}